.container {
  min-width: 500px;
  max-width: 800px;
  width: 75%;
  margin: 40px auto;
}

.filter-container {
  padding: 15px;
}

.mat-form-field {
  font-size: 1.2em;
  width: 100%;
}

h2 {
  text-align: center;
}

table {
  width: 100%;
}

th {
  background-color: lightgray;
}

.mat-header-cell, .mat-cell {
  padding: 0 10px;
}

tr:hover {
  background-color: whitesmoke;
}

.notification {
  margin-top: 30px;
  display: block;
  text-align: center;
  font-size: 1.2em;
}
